.App {
  font-family: sans-serif;
  padding: 0 8px;
}
.player-grid{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
}

.search-input{
  display: flex;
  justify-content: center;
  margin: 20px 0px;
}
.search-text {
font-size: 18px;
font-weight: 600;
margin-right: 12px;
}
.player-card {
  padding: 8px;
  width: 30%;
  border: 2px solid black;
  border-radius: 4px;
  margin: 10px;
}
.player-img{
  height: 324px;
  width: 324px;
}